<section class="blog-entry">
  <header>
    <h1><%= link_to blog_entry.title, blog_entry %></h1>
    <div class="blog-entry-property">
      <span class="blog-author">by <%= blog_entry.blog_author.name %></span>
      <span class="blog-date">
        posted at: <%= blog_entry.created_at.strftime("%Y.%m.%d") %>
      </span>
      <% if @admin %>
        <span class="blog-edit"><%= link_to '編集', edit_blog_entry_path(blog_entry) %></span>
      <% end %>
    </div>
  </header>
  <article>
    <%= sanitize blog_entry.unsafe_html,
      tags: %w(div p em strong u strike ul ol li a img pre code hr h1 h2 h3 h4 h5 h6 table tbody tr th td caption),
      attributes: %w(id class style width height href src alt title align border cellpadding cellspacing summary scope colspan rowspan)
    %>
  </article>
</section>
