<%= form_for(@blog_entry) do |f| %>
  <% if @blog_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog_entry.errors.count %>個の項目にエラーがあります。</h2>

      <ul>
      <% @blog_entry.errors.messages.each do |msg| %>
        <% msg[1].each do |str| %>
          <li><%= str %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, 'タイトル' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :blog_author_id, '投稿者を選択' %><br>
    初めて医学展Blogを執筆するスタッフは<%= link_to '執筆者登録', new_blog_author_path %>する必要があります。<br>
    <%= f.select :blog_author_id, options_from_collection_for_select(BlogAuthor.all, :id, :name), prompt: '選択' %>
  </div>
  <div class="field">
    <%= f.label :unsafe_html, '本文' %><br>
    <%= f.cktext_area :unsafe_html,
      language: 'ja',
      toolbar: [
        [ 'Source' ], 
        [ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Image', 'Table', 'HorizontalRule', 'Smiley' ],
        [ 'Format' ]
      ],
      width: 800,
      height: 400
    %>
  </div>
  <div class="actions">
    <%= f.submit '投稿' %>
  </div>
<% end %>
