<h1>Blog執筆者一覧</h1>

<p>
  <%= link_to '執筆者登録', new_blog_author_path %>
</p>

<p>
  <%= link_to '新規ブログ投稿', new_blog_entry_path %>
</p>

<table>
<% @blog_authors.each do |blog_author| %>
  <tr>
    <td><%= blog_author.name %></td>
    <td><%= link_to '名前を変更', edit_blog_author_path(blog_author) %></td>
    <td><%= link_to '削除', blog_author, method: :delete, data: { confirm: "#{blog_author.name}を削除します。よろしいですか？" } %></td>
  </tr>
<% end %>
</table>
