<!DOCTYPE html>
<html>
  <head>
    <title>Igakuten</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id="global-wrapper">

      <div id="header">
        <div class="wrapper-bg">
          <div class="wrapper">

            <div id="banner">
              <%= image_tag 'banner.jpg', title: 'banner' %>
              <h1><a href="/">医学展52</a></h1>
            </div>

          </div>
        </div>

        <nav>
          <div class="wrapper">
            <ul>
              <li><a href="" class="<%= @top_page ? 'current' : '' %>"><span>ホーム</span></a></li>
              <li><a href="" class="<%= @_page ? 'current' : '' %>"><span>ごあいさつ</span></a></li>
              <li><a href="" class="<%= @_page ? 'current' : '' %>"><span>医学展について</span></a></li>
              <li><a href="" class="<%= @_page ? 'current' : '' %>"><span>部門紹介</span></a></li>
              <li><a href="" class="<%= @_page ? 'current' : '' %>"><span>イベント案内</span></a></li>
              <li><a href="" class="<%= @_page ? 'current' : '' %>"><span>提携団体</span></a></li>
              <li><a href="" class="<%= @_page ? 'current' : '' %>"><span>アクセス</span></a></li>
              <li id="site-search">
                <form method="GET" action="http://www.google.co.jp/search">
                  <input type="hidden" name="hl" value="ja">
                  <input type="hidden" name="sitesearch" value="hokudai-igakuten.org">
                  <input type="text" name="q" class="frm">
                </form>
              </li>
            </ul>
          </div>
        </nav>

      </div><!-- end of header -->


      <div id="main">
        <div class="wrapper-bg">
          <div class="wrapper">

            <div id="notice">
              <%= flash[:notice] %>
            </div>

            <%= yield %>

          </div>
        </div>
      </div><!-- end main contents -->


      <div id="footer">
        <div class="wrapper-bg">
          <div class="wrapper">

            <address>2012-2013 Hokkaido Univ. Igakuten Executive Comittee, all right reserved.</address>

          </div>
        </div>
      </div>

    </div>

  </body>
</html>
