<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? "#{@page_title} - " : "" %>北海道大学第52回医学展</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <% toc = [
    [ 'ホーム',         '' ],
    [ 'ごあいさつ',     'greetings',   { '医学研究科長より' => 'dean', '実行委員長より' => 'chairperson' } ],
    [ '医学展とは',     'about',       { '医学展とは' => 'summary', '今年のテーマ' => 'theme', '歴史' => 'history', '写真ギャラリー' => 'gallery', '協賛団体' => 'sponsors' } ],
    [ '企画紹介',       'contents',    { '検査体験' => 'checkup', '科学体験' => 'science', 'ハンディキャップ体験' => 'handicap', '展示' => 'exhibition', '救急' => 'emergency' } ],
    [ '提携団体',       'cooperators', { 'IFMSA' => 'ifmsa', 'PCAF&産婦人科' => 'pcaf', '国際連携室' => 'international', '部活出店' => 'stalls' } ],
    [ '講演会',         'recture',     { '演題' => 'title', '講演者' => 'profile' } ],
    [ 'イベント',       'events',      { '救急車' => 'ambulance', '盲導犬' => 'guidedog' } ],
    [ 'スタッフブログ', 'blog'],
    [ 'アクセス',       'access',      { '医学展マップ' => 'map', 'タイムテーブル' => 'timetable' } ]
  ] %>

  <body>
    <div id="global-wrapper">



      <div id="background">



        <div id="header">

          <div id="banner">
            <%= image_tag 'banner.jpg', title: 'banner' %>
            <h1><a href="/">医学展52</a></h1>
          </div>

          <nav>
            <ul>
              <li><a href="/" class="<%= @top_page ? 'current' : '' %>"><span>ホーム</span></a></li>
              <li><a href="/greetings" class="<%= @greetings_page ? 'current' : '' %>"><span>ごあいさつ</span></a></li>
              <li><a href="/about" class="<%= @about_page ? 'current' : '' %>"><span>医学展について</span></a></li>
              <li><a href="/contents" class="<%= @contents_page ? 'current' : '' %>"><span>企画紹介</span></a></li>
              <li><a href="/cooperators" class="<%= @cooperators_page ? 'current' : '' %>"><span>提携団体</span></a></li>
              <li><a href="/recture" class="<%= @recture_page ? 'current' : '' %>"><span>講演会</span></a></li>
              <li><a href="/events" class="<%= @events_page ? 'current' : '' %>"><span>イベント</span></a></li>
              <li><a href="/blog" class="<%= @blog_page ? 'current' : '' %>"><span>スタッフブログ</span></a></li>
              <li><a href="/access" class="<%= @access_page ? 'current' : '' %>"><span>アクセス</span></a></li>
              <li id="site-search">
                <form method="GET" action="http://www.google.co.jp/search">
                  <input type="hidden" name="hl" value="ja">
                  <input type="hidden" name="sitesearch" value="hokudai-igakuten.org">
                  <input type="text" name="q" class="frm">
                </form>
              </li>
            </ul>
          </nav>

        </div><!-- end of header -->



        <div id="main">
          <div class="wrapper">

            <div id="notice">
              <%= flash[:notice] %>
            </div>

            <div id="contents-wrapper">
              <%= yield %>
              <br class="clearfix">
            </div>

          </div>
        </div><!-- end of main contents -->



      </div><!-- end of background -->



      <div id="footer">
        <div class="wrapper">

          <div id="footer-contents">
            <nav>
              <h1>サイトマップ</h1>
              <div class="footer-nav-column">
                <%= footer_nav toc[0] %>
                <%= footer_nav toc[1] %>
                <%= footer_nav toc[2] %>
              </div>
              <div class="footer-nav-column">
                <%= footer_nav toc[3] %>
                <%= footer_nav toc[4] %>
              </div>
              <div class="footer-nav-column">
                <%= footer_nav toc[5] %>
                <%= footer_nav toc[6] %>
                <%= footer_nav toc[7] %>
                <%= footer_nav toc[8] %>
              </div>
            </nav>

            <div id="footer-info">
              <h1>北海道大学 第52回医学展</h1>
              <dl>
                <dt>とき</dt>
                <dd>
                  <ul>
                    <li>6月8日（土） 10:00 〜 17:30</li>
                    <li>6月9日（日） 9:00 〜 16:30</li>
                  </ul>
                </dd>
                <br class="clearfix">
                <dt>ところ</dt>
                <dd>
                  <ul>
                    <li>医学部図書館</li>
                    <li>医学部管理棟内フラテ大研修室</li>
                    <li>臨床講義棟大講義室</li>
                    <li>医学部管理棟前ロータリー</li>
                  </ul>
                  企画ごとのタイムテーブルと実施場所は <a href="/access">こちら</a>
                </dd>
                <br class="clearfix">
                <dt>お問い合わせ</dt>
                <dd>
                  igakuten52 at gmail.com<br>
                  at を半角の @ に変換してお使いください。
                </dd>
              </dl>
            </div>

            <br class="clearfix">
          </div>

          <address>2012-2013 Hokkaido Univ. Igakuten Executive Comittee, all right reserved.</address>
        </div>

      </div><!-- end of footer -->



      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>



    </div>
  </body>
</html>
